.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}

.leagues_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.wrapper h2{
    font-size: 3vw;
    font-family: Aeo-pro;
    color: var(--color-fourth);
    width: 50%;
    text-align: center;
    line-height: 3vw;
}

.league{
    width: 7vw;
}

.league:nth-child(3){
    width: 10vw;
}

.league:nth-child(5){
    width: 5vw;
}

.league:nth-child(2){
    width: 6vw;
}