.container{
    padding: 1rem 3rem;
    background-color: var(--bg-first);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    border-bottom: 1px solid var(--border-color);
    z-index: 99;
}

.logo{
    width: 100px;
}

.nav_right{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.navLink{
    color: var(--color-fourth);
    font-size: 1rem;
    font-weight: 300;
    transition: color .25s ease-in-out;
}

.navLink:hover{
    color: var(--color-second);
}