.wrapper{
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5rem;
}

.figure_one{
    position: absolute;
    left: -45rem;
    top: 20rem;
}
.figure_two{
    position: absolute;
    right: -45rem;
    bottom: -30rem;
}

.heading_container{
    display: flex;
    width: 85%;
    padding-top: 16vw;
    gap: 5vw;
    z-index: 2;
}

.heading_container h1{
    width: 50%;
    font-size: 4.5vw;
    line-height: 4.5vw;
    font-family: Aeo-pro;
}

.info_container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vw;
}

.info_container p{
    color: var(--color-third);
    font-size: 1.5vw;
}

.dash{
    width: 85%;
    z-index: 2;
    border: 8px solid var(--border-color);
    border-radius: 20px;
}