@font-face {
  font-family: Aeo-pro;
  src: url(../public/AeonikPro-Regular.woff2);
  font-display: fallback;
}
@font-face {
  font-family: Aeo-fono;
  src: url(../public/AeonikFono-Regular.woff2);
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #19191C;
  --color-primary: #FFFCFD;
  --color-secondary:#FD356E;
}

*{
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background: var(--bg-primary);
  color: var(--color-primary);
}
