@font-face {
  font-family: Aeo-pro;
  src: url(../public/AeonikPro-Regular.woff2);
  font-display: fallback;
}
@font-face {
  font-family: Aeo-fono;
  src: url(../public/AeonikFono-Regular.woff2);
  font-display: fallback;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-first: #19191C;
  --color-first: #FFFCFD;
  --color-second:#FD356E;
  --color-third:#ADADB0;
  --color-fourth:#D2D2D2;
  --border-color:#9797973C;
  --scroll-color:#6A6A6A97;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--border-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color); 
  border-radius: 6px; 
}

*{
  padding: 0rem;
  margin: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  background: var(--bg-first);
  color: var(--color-first);
  overflow-x: hidden;
}


